<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
{% comment %} <div>
        <nav class="bg-dark text-white d-flex p-3 fixed-top" style="width:100rem;margin-right">
            <div >
        <h6 style="margin-left:50px">LINKSPHERE</h6>
            </div>
            <div style="margin-left:1100px" class="d-flex">
         
         <a href="{% url 'Index' %}" class="btn btn-primary">Home<i class="fa-solid fa-house"></i></a>
              

      
        <a href="{% url 'signout' %}" class="btn btn-danger text-white" style="margin-left:10px">
  Signout<i class="fa-solid fa-right-from-bracket"></i>
</a>
<div>
      
      
        </nav>
    </div> {% endcomment %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LINKSPHERE</a><img src="{% static "social/images/Logo.png" %}" class="rounded-circle" alt="logo" width="50"height="50">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'Index'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profileList'%}">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="{% url 'profile-detail' user.Profile.pk %}">{{request.user}} Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'profileList'%}">View Profiles</a></li>
           <li><a class="dropdown-item" href="{%url 'profile-update' request.user.Profile.id %}">Edit-Profile</a></li>
           
          </ul>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> {% endcomment %}
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
         <a href="{% url 'signout' %}" class="btn text-white bg-primary">
  Signout
</a>
      </form>
      
 {% if request.user.Profile.profilePic %}
  <img src="{{ request.user.Profile.profilePic.url }}" class="rounded-circle" alt="User Avatar" width="50" height="50">
{% else %}
  <img src="{% static 'social/images/login.png' %}" class="rounded-circle" alt="Default Avatar" width="50" height="50">
{% endif %}
    </div>
  </div>
</nav>

<div>
      
     
        </nav>
       
    </div>
<div class="container mt-4">
  <div class="row">
    {% for profile in data %}
    <div class="col-md-4 mb-4">
      <div class="card mt-5" style="width: 100%;">
        {%if profile.profilePic%}
    <img src="{{profile.profilePic.url}}" class="card-img-top">
    {%else%}
  <img src="{% static "social/images/profilepic.jpg" %}" class="card-img-top" alt="Antony's application photo" >
  {%endif%}
        <div class="card-body">

          <a href="{% url 'profile-detail' profile.id %}" style="text-decoration:none" class="text-dark">{{profile}}</a>
               <h5 class="card-title">Following:{{ profile.following.count}}</h5>
                 <h5 class="card-title">Followers:{{ profile.followed_by.count}}</h5>
            
           <h5 class="card-title">{{ profile.bio}}</h5>
       
       <form action="{%url 'Follow' profile.id %}"method="post">
        {% csrf_token %}
        {%if profile in request.user.Profile.following.all%}
         <button type="submit"name="action"value="unfollow" class="btn btn-danger">UnFollow</button>
         
          {%else%}
           <button type="submit"name="action"value="follow" class="btn btn-primary">Follow</button>
            {%endif%}
       </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

</body>
</html>
