<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Document</title>
</head>
{% comment %} <style>
    body{
        background-color:black;
    }
</style> {% endcomment %}
<body>
    {% comment %} <div>
        <nav class="bg-dark text-white d-flex p-3 fixed-top" style="width:100rem;margin-right">
            <div >
        <h6 style="margin-left:50px">LINKSPHERE</h6>
            </div>
            <div style="margin-left:1000px" class="d-flex">
         
         <a href="{% url 'Index' %}" class="btn btn-primary">Home<i class="fa-solid fa-house"></i></a>
                {%if data.user == request.user%} 
                 <a href="{%url 'profile-update' request.user.Profile.id %}" class="btn btn-success"style="margin-left:10px">Edit-Profile<i class="fa-solid fa-user-pen"></i></a> 
                {%endif%}
     
        <a href="{% url 'signout' %}" class="btn btn-danger text-white" style="margin-left:5px">
  Signout<i class="fa-solid fa-right-from-bracket"></i>
</a>
<div>
      
       
        </nav>
    </div> {% endcomment %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LINKSPHERE</a><img src="{% static "social/images/Logo.png" %}" class="rounded-circle" alt="logo" width="50"height="50">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'Index'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profileList'%}">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
             <li><a class="dropdown-item" href="{% url 'profile-detail' user.Profile.pk %}">{{request.user}} Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'profileList'%}">View Profiles</a></li>
           <li><a class="dropdown-item" href="{%url 'profile-update' request.user.Profile.id %}">Edit-Profile</a></li>
           
          </ul>
        </li>
       
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
         <a href="{% url 'signout' %}" class="btn text-white bg-primary">
  Signout
</a>
      </form>
      
 {% if request.user.Profile.profilePic %}
  <img src="{{ request.user.Profile.profilePic.url }}" class="rounded-circle" alt="User Avatar" width="50" height="50">
{% else %}
  <img src="{% static 'social/images/login.png' %}" class="rounded-circle" alt="Default Avatar" width="50" height="50">
{% endif %}
    </div>
  </div>
</nav>
<div style="margin-left:5px">
  

</div>
<div>
      
     
        </nav>
       
    </div>
   
    <h1 style="margin-Left:700px;margin-top:50px">USER-PROFILE<i class="fa-solid fa-circle-user"></i></h1>


    <div style="margin-left:750px">
      <div class="d-flex">
        <button type="submit" class="btn btn-primary">Add Post</button>
         {%if request.user != data.user%}
        <div class="media" style="margin-left:2px">
          <form action="{% url 'block' data.id %}" method="post">
            {% csrf_token %}
            {%if data in request.user.Profile.block.all%}
             <button type="submit" class="btn btn-danger" name="action" value="unblock">Unblock</button> 
             {%else%}
           <button type="submit" class="btn btn-primary" name="action" value="block">Block</button> 
            {%endif%}
          </form>
        </div>
        {%endif%}
      </div>
        <div class="card" style="margin-top:10px;;width:35rem;margin-left:-100px">
  <div class="card-body d-flex">
     <div>
       {%if data.profilePic%}
    <img src="{{data.profilePic.url}}" class="rounded-circle" width="100" height="100">
    {%else%}
  <img src="{% static "social/images/profilepic.jpg" %}" class="rounded-circle" alt="Antony's application photo" width="100" height="100">
  {%endif%}
     <h6 style="margin-left:30px">{{data.user}}</h6>
    </div>
    <div style="margin-left:20px">
        <h5 class="text-primary">{{data.following.count}}</h5>
        <h6>Following</h6>
    </div>
    <div style="margin-left:45px">
        <h5 class="text-primary">{{data.followed_by.count}}</h5>
        <h6>Followers</h6>
    </div>
    <div style="margin-left:45px">
        <h5 class="text-danger">{{data.block.count}}</h5>
        <h6>Blocked</h6>
    </div>
    <div style="margin-left:45px">
        <h5 class="text-primary">{{data.user.PostUsers.all.count}}</h5>
        <h6>Posts</h6>
    </div>
  </div>
</div>
    </div>
    <div class="d-flex">
   <div class="card" style="width: 18rem;margin-top:90px;margin-left:270px">
    {%if data.profilePic%}
    <img src="{{data.profilePic.url}}" class="card-img-top">
    {%else%}
  <img src="{% static "social/images/profilepic.jpg" %}" class="card-img-top" alt="Antony's application photo">
  {%endif%}
   </div>

<div style="margin-top:90px;margin-left:100px">
       
        <h6 style="margin-left:350px;margin-top:2px">About {{data.user}}</h6>
       <div>
         {%if data.about%}
    {{data.about}}
    {%else%}
<h6>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h6>
  {%endif%}
       </div>
       <div class="card mt-5" style="width:30rem">
        <h6 style="margin-left:150px" class="mt-2">PROFILE-DETAILS<i class="fa-solid fa-circle-user"></i></h6>
  <div class="card-body" style="margin-left:20px">
    <div class="d-flex">
       Name: {{data.user}}
      <div style="margin-left:100px"> Address:{{data.address}}</div>
    </div>
    <div class="d-flex mt-3">
      DOB: {{data.dob}}
      <div style="margin-left:70px"> Phone:{{data.phone}}

      </div>
      
    </div>
    {%if data.bio%}
      <div style="margin-top:20px;margin-left:1px">
      Bio: {{data.bio}}
      {%else%}
       Bio: none
      </div>
      {%endif%}
  </div>
</div>
    {% comment %} <div>
       Name: {{request.user}}
      
    </div>
    <div>
         Name: {{request.user}}
      
    </div>

 <div>
 Address:{{data.address}}
 </div>

 <div class>
 Date of Birth:{{data.dob}}
 </div>
 <div class>
 Phone Number:{{data.phone}}
 </div>
   </div> {% endcomment %}
</div>
{% comment %} <div class="card" style="margin-top:20px;;width:35rem;margin-left:400px">
  <div class="card-body d-flex">
    <div style="margin-left:20px">
        <h5>{{data.following.count}}</h5>
        <h6>Following</h6>
    </div>
    <div style="margin-left:45px">
        <h5>{{data.followed_by.count}}</h5>
        <h6>Followers</h6>
    </div>
    <div style="margin-left:45px">
        <h5>{{data.block.count}}</h5>
        <h6>Blocked</h6>
    </div>
    <div style="margin-left:45px">
        <h5>{{data.user.PostUsers.all.count}}</h5>
        <h6>Posts</h6>
    </div>
  </div>
</div> {% endcomment %}
</body>

</html>